<div class="container py-4">
  <div class="row g-4">

    @for (p of ofertas; track p.id) {
    @if (p.disponibilidad) {

    <div class="col-md-4">
      <div class="card auto-card h-100 shadow-lg border-0">

        <img [src]="'assets/' + p.img" class="card-img-top auto-img" [alt]="p.marca">
       

        <div class="card-body d-flex flex-column">

          <h4 class="card-title fw-bold text-dark">
            {{ p.marca }}
          </h4>

          <p class="text-muted mb-2">
            {{ p.modelo }}
          </p>

          <!-- <ul class="list-unstyled flex-grow-1">
            <li>
              <strong>Año:</strong> {{ p.anio }}
            </li>

            <li>
              <strong>Color:</strong> {{ p.color }}
            </li>
            <li class="precio-anterior">${{p.precio}} USD</li>
            <li><h2><strong></strong>${{p.precioOferta}} USD</h2></li>
            @if (p.precioOferta) {

              <li class="badge-descuento"> -{{ calcularDescuento(p.precio,p.precioOferta) }}%</li>
            }
          </ul> -->
          <ul class="list-unstyled flex-grow-1">
  <li>
    <strong>Año:</strong> {{ p.anio }}
  </li>

  <li>
    <strong>Color:</strong> {{ p.color }}
  </li>

  @if (p.precioOferta) {
    <li class="precio-anterior">${{ p.precio }} USD</li>
    <li class="precio-oferta-linea">
      <h2 class="precio-oferta-num">${{ p.precioOferta }} USD</h2>
      <span class="badge-descuento">-{{ calcularDescuento(p.precio, p.precioOferta) }}%</span>
    </li>
  } @else {
    <li><h2 class="precio-normal">${{ p.precio }} USD</h2></li>
  }
</ul>
          <button class="btn btn-dark w-100 mt-3" (click)="agregarCarrito(p)">
            agregar al carrito
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus"
              viewBox="0 0 16 16">
              <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
          </button>
          <button class="btn btn-dark w-100 mt-3" (click)="agregarFavorito(p)">
            agregar a favoritos
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
              viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>

          </button>

        </div>
      </div>
    </div>

    }
    }

  </div>
</div>